@import '../variables';

.sushi-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
  margin-top: 5%;

  .sushi-card {
    width: 250px; // Légèrement plus petit pour les sushis
    border: 3px solid $white-color; // Bordure un peu plus fine
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
    margin-bottom: 5%;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }

    img {
      width: 100%;
      height: auto;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    h3, p {
      padding: 0.2em 1em;
    }

    h3 {
      margin-top: 0.5em;
    }

    p {
      margin-bottom: 1em;
    }
  }

  .sushi-card.selected {
    border-color: $hover-color;
    transform: scale(1.05);
  }
}
