@import '../variables';

.sushi-box {
  position: relative;
  color: $black-color; // Assurez-vous que cette variable est définie ou remplacez-la par une couleur hexadécimale directe, par ex. #000;
  background-color: $white-color; // De même, assurez-vous que cette variable est définie ou utilisez une couleur directe;
  overflow: hidden;
  width: 100%; // Adaptation pour le plein usage de l'espace dans le slide
  box-sizing: border-box;
  padding: 15px; // Ajout d'un peu de padding autour du contenu
  border-radius: 4px; // Arrondissement des coins si nécessaire

  .header, .image-container, img {
    width: 100%; // Assurez-vous que l'image et les conteneurs s'adaptent à la largeur
  }

  img {
    height: auto;
    max-width: 100%; // Assurez-vous que l'image ne dépasse pas son conteneur
    display: block;
    margin: 0 auto; // Centrer l'image si moins large que le conteneur
  }

  .price, .Order-menu-button {
    text-align: center; // Centre le texte et le bouton de commande
    width: 100%; // Utilisation de la pleine largeur pour le texte du prix et le bouton
    display: block; // Assurez-vous que le bouton s'affiche correctement
  }

  // Adaptation pour une meilleure visibilité lors de la sélection
  &.card-clicked {
    transform: scale(1.05);
    border: 2px solid blue; // Changement pour montrer la sélection
    z-index: 2; // S'assure qu'il se distingue des autres cartes
  }
}
