@import '../../variables';

.menu{
  .menu-category-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    button {
      background-color: $white-color;
      color: black;
      padding: 10px 20px;
      font-size: 1em;
      margin: 0 10px;
      cursor: pointer;
      transition: all 0.3s;

      &.active {
        background-color: black;
        color: $white-color;
      }

      &:hover {
        background-color: lightblue;
        color: $white-color;
      }
    }
  }

  .slick-slide {
    display: flex;
    justify-content: center;
  }
}
